.venv/
.env
__pycache__/
*.py[cod]
*.sqlite3
*.db
.DS_Store
/NeuroPause/ML-Model/model/saved/
/NeuroPause/ML-Model/model/tflite/
/NeuroPause/ML-Model/data/
/NeuroPause/.vscode/
*.log
*.h5
*.tflite
*.npy
venv/
.env
.idea/
node_modules/
dist/
build/
*.egg-info/
